a {
    text-decoration: none;
    font-weight: bold;
    transition: 600ms;
    color: $color-secondary;
    font-size: #{nth($font-sizes, 3)}px;
    &:hover {
        text-decoration: underline;
    }
}