%heading {
    font-family: $font-heading;
    color: $color-text;
}

%body {
    font-family: $font-body;
    color: $color-text;
}

@for $i from 1 through 6 {
    h#{$i} {
        @extend %heading;
        font-size: #{nth($font-sizes, 7 - $i)}px;
    }
}

p, li, ul, ol, input, span {
    @extend %body;
    font-size: #{nth($font-sizes, 3)}px;
}

