/*--------------------*\
    $COLORS
\*--------------------*/

$color-text: #fff;
$color-background: #000;
$color-primary: #07c;
$color-secondary: #05a;
$color-accent: #609;

$font-body: 'Arial', sans-serif, system-ui;
$font-heading: system-ui, sans-serif;

$font-sizes: 12 14 16 20 24 32 48 64;